/* @import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.carousel-container {
    display: flex;
    vertical-align: center;
    align-items: flex-start;
    background-color: black;
    padding: 30px 0 30px 0;
  
  }

  

.carousel{
   
}

h3{
    font-family: 'Saira Condensed', sans-serif;
}
  
  .carousel-control-prev {
    height: 300px;
    
  }
  .carousel-control-next {
    height: 300px;
  }
  
  .carousel .carousel-control-prev-icon {
    visibility: hidden;
  }
  .carousel:hover .carousel-control-prev-icon {
    visibility: visible;
  }
  
  .carousel .carousel-control-next-icon {
    visibility: hidden;
  }
  .carousel:hover .carousel-control-next-icon {
    visibility: visible;
  } */